<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main__breadcrumb-container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:3030/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">TODO</li>
        </ol>
    </nav>
    <h1><%= product.name %></h1>

    <a href="/product/edit/1">Editar Producto</a>
    
    <form action="/product/delete/1?_method=DELETE" method="POST">
        <button type="submit">Eliminar Producto</button>
    </form>
</body>
</html>