$violeta-dark: #130415;
$violeta: #391a3d;
$lima:#c7ff8f;
$verde: #6fa33b;
$rojo: #f00;
$theme-colors: (
  "primary": $violeta-dark,
  "secondary": $violeta,
  "success": $verde,
  "info":$lima,
  "danger":$rojo
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './sass/header';
@import './sass/footer';
@import './sass/login';
@import './sass/register';
@import './sass/create';
@import './sass/productList';
@import './sass/detail';
body{
    font-family: 'Franklin Gothic Medium'!important;
}
main{
    margin-top: 60px !important;
}

.carousel-indicators__banner{
    button{
        margin: 0 !important;
        background-color:#c7ff8f!important;
    }
}
.carrusel-banner{
    height: 400px !important;
    img{
        object-fit: cover!important ;
        object-position: center!important ;
        height: 100%;
    }
}
.nuevos-productos__arrow{
    font-size: 1.6rem;
    right: 1%;
    top: 50%;
    position: absolute;
    color: #000;
    animation: arrow infinite 1s;
}

@keyframes arrow {
    from {
      right: 1%;
      color: transparent;
    }
  
    to {
      right: 3%;
      
    }
  }
.nuevos-productos__container{
    width: 85%;
    height: max-content;
    margin: auto;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
    .nuevos-productos__card{
        min-width: 100%;
        left: 0;
        position:sticky;
        scroll-snap-align: center;
        background: #fff;
        border: none;
        border-right: 2.5px solid #0000004f;

        
        
        img{
            border-bottom: 2px solid var(--bs-info);
           
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }   
}
.categorias__container{
    width: 95%;
    margin: auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
    .article__categoria{
        margin: 3px;
        div{
            width: 100%;
            height: 100%;
            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        h5{
            color: #fff;
        }
    }
    .cat-teclados{
        grid-column: 1/3;
        grid-row: 1/2;
    }    
    .cat-mouses{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .cat-placasdevideo{
        grid-column: 2/4;
        grid-row: 3/5;
    }
    .cat-gabinetes{
        grid-column: 1/2;
        grid-row: 3/6;
    }
    .cat-procesadores{
        grid-column: 3/4;
        grid-row: 4/6;
        
    }
    }

    .section__carrusel-container{
        width: 90%;
        margin: auto;
        .carousel-indicators{
            bottom: -10px;
            button{
                background-color:#c7ff8f!important;
            }
        }
        article{
            a{
                text-decoration: none;
            }
                img{
                    padding: 30px;
                margin: auto;
                width: 98%;
                }
                .ofertas__body{
                    justify-content: space-between;
                    flex-direction: column!important;
                    top:1.2rem!important;
                    h5{
                        font-size: 1.5rem!important;
                        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.90);
                    }
                    p{
                        font-size: 1.25rem;
                        
                    }
                    .card-body__precio{
                        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.90)!important;
                    }
                    }
            
        }
        .button__ofertas-iconos{
            background-color: #000;
            border-radius: 20px;
        }
        }
        .section__marcas{
            overflow: hidden;
            width: 100%;
            .marcas__container{
                display: flex;
                
                animation: carruselMarcas 20s  infinite;
                .marcas__element{
                    margin: 5px;
                }
            }
          }
          @keyframes carruselMarcas {
            from{
                transform: translateX(80%)
            }
            to{
                transform: translateX(-285%)
            } 
          }
    


@media (min-width: 768px) {
    .carrusel-banner{
        height: 700px !important;
    }
    .nuevos-productos__arrow{
        display: none!important;
    }
    .nuevos-productos__container{
        width: 85%;
        height: max-content;
        height: max-content;
        margin: auto;
        overflow: visible;
        flex-wrap: wrap;
        justify-content: space-around;
        .nuevos-productos__card{
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            width: 30%;
            background: #fff;
            border: none;
            margin: 10px;
            min-width: 25%;
            
        }
    }
    .section__carrusel-container{
        article{
            img{
                width: 60%;
            }
        }
        .button__ofertas-iconos{
            width: 60px;
            height: 60px;
            background-color: $lima;
            border-radius: 50px;
        }
    }
}