$violeta-dark: #130415;
$violeta: #391a3d;
$lima:#c7ff8f;
$verde: #6fa33b;
$theme-colors: (
  "primary": $violeta-dark,
  "secondary": $violeta,
  "success": $verde,
  "info":$lima
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './sass/header';
@import './sass/footer';
@import './sass/login';
@import './sass/register';
@import './sass/create';
@import './sass/productList';
@import './sass/detail';
body{
    font-family: 'Franklin Gothic Medium'!important;
}
main{
    margin-top: 60px !important;
}

.carousel-indicators{
    button{
        margin: 0 !important;
        background-color:#c7ff8f!important;
    }
}
.carousel-item{
    height: 400px !important;
    img{
        object-fit: cover!important ;
        object-position: center!important ;
        height: 100%;
    }
}
.nuevos-productos__arrow{
    font-size: 2rem;
    right: 1%;
    top: 50%;
    position: absolute;
    color: $violeta;
    animation: arrow infinite 1s;
}

@keyframes arrow {
    from {
      right: 1%;
      color: transparent;
    }
  
    to {
      right: 4%;
      
    }
  }
.nuevos-productos__container{
    width: 80%;
    height: max-content;
    margin: auto;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
    .nuevos-productos__card{
        min-width: 100%;
        left: 0;
        position:sticky;
        scroll-snap-align: center;
        background: #fff;
        border: none;
        border-right: 0.5px solid $violeta;

        
        
        img{
            border-bottom: 2px solid var(--bs-info);
           
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
   
}
@media (min-width: 768px) {
    .carousel-item{
        height: 700px !important;
    }
    .nuevos-productos__arrow{
        display: none!important;
    }
    .nuevos-productos__container{
        width: 85%;
        height: max-content;
        height: max-content;
        margin: auto;
        overflow: visible;
        flex-wrap: wrap;
        justify-content: space-around;
        .nuevos-productos__card{
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            width: 30%;
            background: #fff;
            border: none;
            margin: 10px;
            min-width: 25%;
            
        }
    }
}