<nav class="navbar bg-primary navbar-dark">
    <div class="container-fluid">    
    <a class="navbar-brand text-success" style="font-family: 'Franklin Gothic Medium';font-size: 1.6rem;" href="#">
        InsumE
    </a>
      <form class="d-flex" role="search">
        <input class="form-control " type="search" placeholder="Escribe nombre o categoria" aria-label="Search">
        <button class="btn btn-info btn__buscar" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  
 
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid justify-content-center">
      <button class="navbar-toggler btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars text-info"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ingresá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Regístrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>