.section__create{
    margin: 100px auto 100px !important;
    width: 85%;
    border: 0.1rem solid $violeta;
    box-shadow: 0px 1px 8px #391a3deb;
    h3{
        width: 85%;
        margin: auto;
    }
    .create__container{
        margin: auto;
        height: 90%;
        width: 85%;
        label{
            color:$violeta;
            width: 100%;
        }
        .form-floating{
            width: 100%;
            margin: 10px 5px;
        }
        textarea{
            height: 200px;
        }
        article{ 
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            margin: 10px 0;
            select{ 
                color: $violeta;
                border: 0.5px solid $verde;
                margin: 0 5px;
                width: 35%;
               
            }
            select:focus{
                box-shadow: 0px 0px 3px 1px $verde;
            }
            
            
        }
    }
    
}