.detail__breadcrumb-container{
    display: none;
}
.img-product__container{
    div{
        text-align: center;
        img{
            width: 80%;
            height: auto!important;
        }
    }
    
}