.boton-carrusel-PS{
    display: none;
}
.detail__breadcrumb-container{
    display: none;
    a{
        color:$violeta;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline;
    }
}
.article__product-container{
    display: flex;
    flex-direction: column;
    .img-container{
        margin-top: 10px;
    }
    .img-mini__container{
        display: none;
        margin: 0 20px!important;
        position: static!important;
        button{
            margin: 0 2%!important;
            width: 30%!important;
            text-indent: 0!important;
            height: auto!important;
            background-color: transparent!important;
        }
    }
    .img-product__container{
        div{
            text-align: center;
            img{
                width: 80%;
                height: auto!important;
                margin: 40px auto;
            }
        }
        
    }
    .section-body{
        margin: 10px;
        button{
            border-radius: 0%;
            height: 3rem;
            margin-top: 3.5rem;
        }
        .editar-eliminar__container{
            a{
             margin: 0 5px;
             border-radius: 0%;
             height: 3rem;
             margin-top: 3.5rem;
            } 
         }
    }
    
}
.article__producto-relacionado{
    overflow: auto!important;
    justify-content: flex-start;
    .producto-relacionado__card{
        width: 45vw;
    }
}
@media (min-width: 768px) {
    .detail__breadcrumb-container{
        display: block;
        margin-top: 75px;
    }
    .article__product-container{
        flex-direction: row;
        .section-img{
            .img-product__container{
                div{height:100%!important;
                    img{
                        margin: 40px auto 0;
                    }
                }
            }
            width: 60%;
            .img-mini__container{
                display: flex;
            }
        }
        .section-body{
            width: 45%;
            display: flex;
            flex-direction: column;
            .product-desc{
                h2{
                    margin:30px 0;
                }
            
            }
            .product-buy{
                margin: 50px 0!important;
                button{
                    height: 3rem;
                    margin-top: 3.5rem;
                }
                
                
            }
        }
    }
    .producto-relacionado__containermov{
        transform: translateX(-50%);
        
    }
    
       /*  .article__producto-relacionado{
            
            overflow: hidden!important;
        } */
        .producto-relacionado__container{
            transition: all 0.5s;
            .producto-relacionado__card{
                width: 25%;
            }
        }
        .boton-carrusel-PS{
            display: none;
            font-size: 35px;
            color: #fff;
            background-color: #00000056;
            border-radius: 50%;
            border-width: 0;
            cursor: pointer;
            height: 64px;
            outline: 0;
            position: absolute;
            top: 226px;
            width: 64px;
            z-index: 2;
        }
        .boton-izq-PS{
            left: 0;
            display: none;
        }
        .boton-der-PS{
            right: 0px;
        }
        .boton-carrusel-PS:hover{
            box-shadow: 1px 1px 6px 1px $lima;
            background-color: #000;
        }
    }
    
