.navbar{
    height: 70px!important;
}
.navbar-toggler{
    border: none !important;
    i{
        font-size: 1.4rem !important;
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.form-control{
    border: var(--bs-border-width) solid var(--bs-secondary);
    border-radius: 0;
    border-bottom: 3px solid #fff !important;
}
.form-control:focus{
    box-shadow: none !important;
    border: var(--bs-border-width) solid var(--bs-secondary);
    
}
.btn__buscar{
    border: var(--bs-border-width) solid var(--bs-secondary);
    border-left: none;
    border-bottom: none;
    margin-left: -20px;
    border-radius: 0;
    background-color: #fff;
}
.btn__buscar:hover{
    background-color: #fff!important;
}
.navbar-nav{
    a{
        font-size: 1.2rem;
        font-weight: 500;
    }
}
@media (min-width: 768px) {
    .navbar-nav{
        align-items: center!important;
        li{
            margin: 0 1.3rem;
        }
        form{
            margin: 0!important;
        }
    }



}

