.navbar{
    height: 70px!important; 
    box-shadow: 0px 0px 7px $violeta-dark;
}
.navbar-toggler{
    border: none !important;
    i{
        font-size: 1.4rem !important;
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.dropdown-toggle:focus{
    border: none;
}
.dropdown-toggle:not(:focus){
    border: none;
}
.dropdown-menu{
    border: none;
    border-radius: 0%;
}
.form-control{
    border: var(--bs-border-width) solid var(--bs-secondary);
    border-radius: 0;
    border-bottom: 3px solid #fff !important;
}
.form-control:focus{
    box-shadow: none !important;
    border: var(--bs-border-width) solid var(--bs-secondary);
    
}
.btn__buscar{
    border: var(--bs-border-width) solid var(--bs-secondary);
    border-left: none;
    border-bottom: none;
    margin-left: -20px;
    border-radius: 0;
    background-color: #fff;
}
.btn__buscar:hover{
    background-color: #fff!important;
    border:{
        top: var(--bs-border-width) solid var(--bs-secondary);
        right: var(--bs-border-width) solid var(--bs-secondary);
    }
}
.navbar-nav{
    a{
        font-size: 1.2rem;
        font-weight: 500;
    }
}

#add-product__container{
    position: fixed;
    top: 70px;
    right: 20%;
    height: 38px;
    width: max-content;
    z-index: 2;
    background-color: var(--bs-primary);
    padding: 2px 10px 0;
    box-shadow: 2px 1px 7px #c7ff8fc7;
    border-radius: 0 0 10px 10px;
    a{
        text-decoration: none;
        color: #fff;
    }
}
#add-product__container:hover{
    background-color: var(--bs-secondary);
}
.profile-lg{
    display: none;
}
.header-profile__container{
    
    .dropdown-toggle::after{
        display: none;
    }
    .header__image-profile{
        height: 55px;
        width: 55px;
        img{
            object-fit: cover;
            border-radius: 50%;
        }
    }
    ul{
        top: 55px!important;
    }
    
}

@media (min-width: 768px) {
    .profile-lg{
        display: block;
    }
    .navbar-nav{
        align-items: center!important;
        .search__container{
            width: 40%;
            
        }
        li{
            margin: 0 1.3rem;
        }
        form{
            margin: 0!important;
        }
        .dropd-marcas{
            width: 360px;
            .dropd-marcas__container{
                height: 80vh;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
        
    }



}

