.section__form{
    margin: 50px auto 100px !important;
    width: 85%;
    border: 0.1rem solid var(--bs-secondary);
    box-shadow: 0px 1px 8px #391a3deb;
    h3{
        width: 85%;
        margin: auto;
    }
    .login__container{
        margin: auto;
        height: 90%;
        width: 85%;
        .form-floating{
            width: 100%;
        }
        
        p{
            width: 100%;
            a{
                /* text-decoration: none; */
                color:$violeta-dark;
            }
            a:hover{
                color: $verde;
            }
        }
    }
    .register__container{
        margin: 2.5rem auto;
        a{
            width: 85%;
        }
    }
   
}