.section__form{
    margin: 100px auto 200px !important;
    width: 85%;
    border: 0.1rem solid var(--bs-secondary);
    box-shadow: 0px 1px 8px #391a3deb;
    h3{
        width: 85%;
        margin: auto;
    }
    .form__container{
        margin: auto;
        height: 90%;
        width: 85%;
        .form-floating{
            width: 100%;
        }
        p{
            width: 90%;
            a{
                /* text-decoration: none; */
                color:$violeta-dark;
            }
            a:hover{
                color: $verde;
            }
        }
    }
    .register__container{
        margin: 1.7rem auto;
        a{
            width: 85%;
        }
    }
   
}