<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompuI login</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section class="section__form">
            <h3 class="my-4">Iniciar Sesión</h3>
            <form class=" form__container d-flex flex-column justify-content-center align-items-center">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Ingrese email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="w-75 mt-5 d-grid gap-2">
                    <button class="btn btn-outline-success text-black" type="submit">Ingresar</button>
                </div>
                <p class="mt-3">Al ingresar, aceptas las <a href="">Condiciones de uso y el Aviso de privacidad</a> de CompuI</p>
                <p><a href="">¿Olvidaste tu contraseña?</a></p>
                
            </form>
            <div class="register__container text-center">
            <p>¿Eres nuevo en CompuI?</p>
            <a class="btn btn-outline-success text-black" href="http://localhost:3030/user/register">Regístrate</a>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
</body>
</html>