<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section class="datosUsuario">
            <h2> <b>Datos Personales</b> </h2> <br>
            <h3> Nombre:</h3> <%= user.first_name +' '+  user.last_name %> 
            <h3> Correo Electrónico:</h3> <%= user.email %>  

        </section>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>